Q . code for second row printing.

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration =  [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q 2. In pandas, the loc and iloc are both indexer functions used to access and subset data in a DataFrame. However, they have some differences in how they handle indexing.

1. loc:
It is primarily label-based, meaning it uses row and column labels to access data.
The indexing is inclusive of both the start and end labels.
It supports boolean arrays and callable functions as input to filter rows and columns.
The syntax is df.loc[row_indexer, column_indexer].

2.iloc:
It is primarily integer-based, meaning it uses integer positions to access data.
The indexing is exclusive of the end position, similar to Python slicing.
It does not support boolean arrays or callable functions; it only accepts integer positions.
The syntax is df.iloc[row_indexer, column_indexer].

Q 3. Reindexing the given data Frame.

In [18]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

In [19]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

In [21]:
print(new_df.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

In [22]:
print(new_df.iloc[2])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q 4.

In [24]:
import pandas as pd

import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

In [25]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.307268  0.547792  0.526020  0.723477  0.872256  0.703741
2  0.241986  0.442900  0.759518  0.679604  0.205823  0.234472
3  0.940339  0.359967  0.071481  0.929814  0.307322  0.788915
4  0.167557  0.253400  0.842606  0.385295  0.466674  0.149251
5  0.412409  0.217475  0.987610  0.264584  0.173629  0.326892
6  0.342332  0.441504  0.084091  0.106330  0.431254  0.774627

In [26]:
column_means = df1.mean()
print(column_means)

column_1    0.401982
column_2    0.377173
column_3    0.545221
column_4    0.514851
column_5    0.409493
column_6    0.496316
dtype: float64

In [27]:
column_std = df1.std()
print(column_std)

column_1    0.276774
column_2    0.125450
column_3    0.391793
column_4    0.312784
column_5    0.255126
column_6    0.291142
dtype: float64

Q 5

In [5]:
import pandas as pd

In [9]:
import pandas as pd

import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

In [10]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.089193  0.459939  0.595481  0.037352  0.468142  0.908617
2  0.863418  0.470187  0.828065  0.362993  0.752478  0.949889
3  0.306554  0.844374  0.005818  0.580420  0.212741  0.826876
4  0.342411  0.860480  0.165732  0.054186  0.726008  0.014041
5  0.034851  0.218315  0.922741  0.963233  0.373275  0.754275
6  0.971492  0.120913  0.478269  0.291684  0.338550  0.013064

In [11]:
df1.at[2, 'column_2'] = 'string_variable'

In [15]:
column_2_mean = df1['column_2'].mean()
print(column_2_mean)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q 6. In pandas, window functions are used to perform calculations on a specific window of data within a DataFrame or Series. These functions operate on a sliding window of data defined by a specified number of preceding or succeeding data points.

Window functions can be applied to perform various calculations, such as rolling averages, cumulative sums, expanding calculations, and more. They are commonly used for time series analysis, signal processing, and data smoothing.

Pandas provides several types of window functions, including:

Rolling Window Functions: These functions operate on a fixed-size window and compute aggregations over that window. Some common rolling window functions are:

rolling(): Computes a rolling window over a specified number of preceding or succeeding elements.
rolling.mean(): Calculates the rolling mean over a specified window.
rolling.sum(): Calculates the rolling sum over a specified window.
rolling.min(): Calculates the rolling minimum value over a specified window.
rolling.max(): Calculates the rolling maximum value over a specified window.
Expanding Window Functions: These functions include all the data from the beginning up to the current point, gradually expanding the window. Some common expanding window functions are:

expanding(): Computes an expanding window.
expanding.mean(): Calculates the expanding mean.
expanding.sum(): Calculates the expanding sum.
expanding.min(): Calculates the expanding minimum value.
expanding.max(): Calculates the expanding maximum value.
Exponentially Weighted Window Functions: These functions assign exponentially decreasing weights to data points based on their position within the window. Some common exponentially weighted window functions are:

ewm(): Performs exponentially weighted calculations.
ewm.mean(): Calculates the exponentially weighted moving average.
ewm.var(): Calculates the exponentially weighted moving variance.
ewm.cov(): Calculates the exponentially weighted moving covariance.
These are some of the commonly used window functions in pandas. They provide flexible ways to analyze and transform data within specific windows, allowing for efficient data manipulation and analysis.

Q 7. A code to print only the current month and year at the time

In [6]:
import pandas as pd
current_date = datetime.now()
current_month = current_date.strftime('%B')
current_year = current_date.year

print(f"Current month: {current_month}")
print(f"Current year: {current_year}")

Current month: July
Current year: 2023

Q 8.  Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result

In [2]:
import pandas as pd
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)
time_difference = date2 - date1
days_difference = time_difference.days
hours_difference = time_difference.seconds // 3600
minutes_difference = (time_difference.seconds // 60) % 60
print("Time difference:")
print(f"Days: {days_difference}")
print(f"Hours: {hours_difference}")
print(f"Minutes: {minutes_difference}")

Enter the first date (YYYY-MM-DD):  2023-04-15
Enter the second date (YYYY-MM-DD):  2023-07-08

Time difference:
Days: 84
Hours: 0
Minutes: 0

Q 9 . A Python program that reads a CSV file containing categorical data and converts a specified 
column to a categorical data type. The program should prompt the user to enter the file path, column 
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Prompt the user to enter the column name
column_name = input("Enter the column name to convert to categorical: ")

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name])

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated values): ")

# Convert the category order to a list
category_order = [cat.strip() for cat in category_order.split(',')]

# Set the category order for the categorical column
df[column_name] = df[column_name].cat.set_categories(category_order)

# Sort the data by the categorical column
sorted_df = df.sort_values(column_name)

# Display the sorted data
print(sorted_df)

Q 10.A Python program that reads a CSV file containing sales data for different products and 
visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the CSV file path: ")
df = pd.read_csv(file_path)

# Convert the 'Date' column to datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by 'Date' and 'Product Category' and calculate the total sales
grouped_data = df.groupby(['Date', 'Product Category'])['Sales'].sum().unstack()

# Plot the stacked bar chart
plt.figure(figsize=(10, 6))
grouped_data.plot(kind='bar', stacked=True)

# Set the chart title and labels
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

# Display the chart
plt.show()

Q .11 A Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
displays the results in a table.

In [9]:
import pandas as pd

student_data = {
    'Student ID': [101, 102, 103, 104, 105],
    'Test Score': [85, 92, 78, 88, 95]}
df = pd.DataFrame(student_data)

In [10]:
df

   Student ID  Test Score
0         101          85
1         102          92
2         103          78
3         104          88
4         105          95

In [11]:
df.to_csv('student_scores.csv', index=False)

In [12]:
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()
print("Mean Score:", mean_score)
print("Median Score:", median_score)
print("Mode Score:", mode_score)

Mean Score: 87.6
Median Score: 88.0
Mode Score: 0    78
1    85
2    88
3    92
4    95
Name: Test Score, dtype: int64

In [13]:
statistics_df = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, mode_score]})
print(statistics_df)

  Statistic                                              Value
0      Mean                                               87.6
1    Median                                               88.0
2      Mode  0    78
1    85
2    88
3    92
4    95
Name: ...